/*---------- @media -----------*/

@media (max-width: 768px) {
 section {
  width: 100%;
 }
 .header_siteTitle {
  font-size: 1.2em;
 }
 .home_eventInfo ul {
  margin-right: 0;
 }
 .home_eventInfo {
  flex-direction: column;
 }
 #modal {
  width: 80%;
 }
 .leaflet-right .leaflet-control {
  margin-right: 0;
 }
 .leaflet-top .leaflet-control {
  margin-top: 0;
 }
}

@media (max-width: 960px) {
 .table-large {
  display: none;
 }
 .table-small {
  display: table;
 }
}
